
h1{
    font-size: 50px;
    color: blueviolet;
    border: 0cap;
    margin: auto;
    padding: auto;
 }
 x{
     color: aqua;
 }
 body{
    margin-right: 10%;
    margin-left: 10%;
    border: 0ch;
    padding: 0ch;
 }
 img{
    opacity: 80%;
    scale: auto;
 }